In [2]:
pip install mysql-connector-python==8.3.0

Requirement already satisfied: mysql-connector-python==8.3.0 in c:\users\akyad\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

In [4]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')

if mydb.is_connected():
   print("Connection Established")

Connection Established

In [6]:
mycursor=mydb.cursor()

In [7]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('vehicle',)

In [8]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')
mycursor=mydb.cursor()
mycursor.execute("create database SODS")

In [9]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
t="CREATE TABLE Book(bookid int(4),title varchar(20),price float(5,2))"
mycursor.execute(t)

In [10]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('book',)

In [11]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"
r1=(1,'Python2',350)
mycursor.execute(s,r1)
mydb.commit()

In [12]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)

In [13]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"
r1=(1,'SQL',550)
mycursor.execute(s,r1)
mydb.commit()

In [14]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)

In [15]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"
r1=(1,'ML',450)
mycursor.execute(s,r1)
mydb.commit()

In [16]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [17]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s= "UPDATE book SET price=price+100 WHERE price=350"
mycursor.execute(s)
mydb.commit()
print(mycursor.rowcount,"Records affected")

1 Records affected

In [18]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 450.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [19]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="DELETE FROM book WHERE price=450"
mycursor.execute(s)
mydb.commit()

In [20]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)

In [21]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
t="CREATE TABLE book2(bookid int(4),title varchar(20),price float(5,2))"
mycursor.execute(t)

In [22]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('book',)
('book2',)

In [20]:
import sqlite3

In [21]:
conn = sqlite3.connect('test.db')

In [22]:
cursor = conn.cursor()

In [23]:
cursor.execute(
"""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
"""
)

In [28]:
cursor.execute(
"INSERT INTO employees (name, age, department) VALUES (?, ?, ?)",
    ('John Doe', 30, 'Sales'),
    ('shel' , 40, 'hd')

)

TypeError: execute expected at most 2 arguments, got 3

In [25]:
cursor.execute("SELECT * FROM employees")

In [26]:
rows = cursor.fetchall()

In [27]:
rows

[(1, 'John Doe', 30, 'Sales')]

In [10]:
conn.commit()

In [11]:
conn.close()